#section > div > .agence-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  height: 70vh;
}

#section > div > .agence-content > p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.3em;
  text-align: justify;
}

#section > div > .agence-content > img {
  width: 50%;
  max-width: 500px;
  margin: 0% 10% 0% 10%;
}

.address-bottom {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.3em;
  text-align: center;
  margin: 15% 0 5% 0;
  padding-right: 5%;
}

@media (max-width: 1000px) {
  #section > div > .agence-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #section > div > .agence-content > img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #section > div > .agence-content > img {
    margin-bottom: 0%;
    padding-right: 5%;
  }
  #section > div > .agence-content > p {
    padding-right: 5%;
  }
}

@media (min-width: 600px) {
  .address-bottom {
    display: none;
  }
}
