#section > div > .contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  height: 70vh;
}

#section > div > .contact-content > p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.3em;
  text-align: justify;
  width: 70%;
  -webkit-touch-callout: none; /* Désactiver le menu contextuel pour les numéros sur iOS */
  -webkit-user-select: none; /* Empêcher la sélection automatique sur les liens numériques/e-mails */
  -webkit-text-decoration: none; /* Supprime le soulignement automatique */
  text-decoration: none; /* Supprime le soulignement dans tous les navigateurs */
}

.address-bottom {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.3em;
  text-align: center;
  margin: 15% 0 5% 0;
  padding-right: 5%;
}

/* FORM */

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacement entre les colonnes */
  margin: 0% 5%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%; /* Pour que les colonnes prennent la même largeur */
}

.column > div {
  position: relative;
  margin-bottom: 25px; /* Large espacement entre les champs */
}

input,
select,
textarea {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

textarea {
  height: 19.5vh;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #ec6234;
  border: 2px solid #ec6234;
}

label {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.6rem;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #858585;
  transition: 0.3s;
  pointer-events: none;
}

input:valid + label,
input:focus + label,
textarea:valid + label,
textarea:focus + label,
select:valid + label,
select:focus + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #333;
  background: white;
  padding: 0 5px;
}

button {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  height: 111%;
}

button:hover {
  color: #000;
  border: 2px solid #ec6234;
}

@media (max-width: 1000px) {
  #section > div > .contact-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #section > div > .contact-content > p {
    width: 100%;
    margin-bottom: 10%;
  }

  form {
    margin: 5% 0%;
  }
}

@media (max-width: 600px) {
  #section > div > .contact-content > p {
    padding-right: 5%;
  }
  form {
    padding-right: 5%;
  }
}

@media (min-width: 600px) {
  .address-bottom {
    display: none;
  }
}
