#section > div {
  position: absolute;
  /* background-color: rgb(0, 255, 47); */
  width: 70%;
  right: 0;
  top: 15vw;
  /* min-height: 75%; */
}

#section > div > h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: calc(8px + 3vw);
  text-align: left;
  margin: 5% 0%;
  text-transform: uppercase;
}

.slide-in {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 200%;
  height: 200%;
  background-color: #e84d1a;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 200%;
  height: 200%;
  background-color: #e84d1a;
  transform-origin: top;
}

@media (max-width: 1000px) {
  #section > div {
    width: 60%;
    padding-right: 5%;
    /* clip-path: polygon(0 0, 100% 0, 100% 17%, 0 17%); */
  }

  #section > div > h1 {
    margin: 13% 0%;
  }
}

@media (max-width: 600px) {
  #section > div {
    width: 90%;
    padding-right: 5%;
    top: 0vw;
  }

  #section > div > h1 {
    margin-top: 0%;
    margin-left: 20%;
  }
}

@media (min-width: 1500px) {
  #section > div {
    top: 5vw;
  }
}
