#section {
  position: absolute;
  /* background-color: rgb(0, 255, 47); */
  width: 70%;
  right: 0;
  top: 25%;
  min-height: 75%;
}

#section > h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 3rem;
  text-align: justify;
  margin: 5% 0%;
}

/* #section > p {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.3em;
  width: 40%;
  text-align: justify;
  margin: 2% 0%;
} */
