#section > div > p {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.3em;
  width: 40%;
  text-align: left;
  margin: 2% 0%;
  list-style-position: inside; /* Les puces sont à l'intérieur des éléments <li> */
  padding-left: 0;
}

#section > div > .title-content {
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  width: 100%;
  margin-left: -110px;
}

#section > div > .title-content > img {
  width: 10%;
  max-width: 70px;
  margin: 20px;
}

#section > div > .title-content > h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 1.2rem;
  width: 25%;
  text-align: left;
}

#section > div > p {
  margin-bottom: 10%;
}

#section > div > p > li {
  text-indent: -1.2em; /* Décalage du texte vers la gauche */
  padding-left: 1em;
}

.focus {
  font-weight: 700 !important;
  outline: none;
}

@media (max-width: 1000px) {
  #section > div > .title-content {
    margin-left: -50px;
    width: 75vw;
  }

  #section > div > .title-content > img {
    width: 10%;
    margin: 20px 5px 20px 20px;
  }

  #section > div > .title-content > h2 {
    font-size: 1rem;
    width: 100%;
  }

  #section > div > p {
    width: 100%;
  }
}
