#intro {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e84d1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro img {
  width: 25vw;
}

.fading-component {
  transition: transform 0.33s ease-in-out;
}

.fade-in {
  transform: translateY(0%);
}

.fade-out {
  transform: translateY(-100%);
}
